

body {
    display: block;
    background: blue;
}

#header {
    background: url(../img/bandeau.png) no-repeat, fixed, center;
    background-size: cover;
    height: 400px;
}

#wrapper {
    padding-top: 10em;
    padding-bottom: 10em;
    background: white;
}

#connexionbar {
    padding: 8px;
    background: black;
}

#connexion {
    text-align: right;
    font-size: 12px;
}

.connexion.form-group {
    width: 60%;
}

#menu-nav {
    text-align: center;
    
    background: grey;
}

#avatar {
    float: left;
}

#espaceform {
    padding-top: 5em;
}

#bouton {
    padding-top: 4em;
}

#footer {
    background: black;
    height: 150px;
}

#diplomes {
    text-align: center;
}

.panel-heading {
    text-align: center;
}
