

body {
    display: block;
    background: blue;
}

#header {
    background: green;
}

#wrapper {
    background: white;
}

#connexion {
    background: white;
    font-size: 12px;
}

.connexion.form-group {
    width: 60%;
}

#menu-nav {
    background: grey;
}